Flask==2.3.3
Flask-Cors==4.0.0
Flask-Caching==2.1.0
gunicorn==21.2.0
requests==2.31.0
Werkzeug==2.3.7
pymongo[srv]==3.12.0
schedule==1.1.0
apscheduler==3.8.1
pytz==2024.2
dropbox
requests-oauthlib
selenium==4.16.0
undetected-chromedriver==3.5.5
google-cloud-translate