requests==2.26.0
gunicorn==20.1.0
flask[async]==3.0.0
flask-cors==4.0.0
python-dotenv==1.0.0
pymongo[srv]==3.12.0
schedule==1.1.0
apscheduler==3.8.1
pytz==2024.2
dropbox
requests-oauthlib
selenium
cloudscraper
undetected-chromedriver